* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2B3C51;
  --ngreen: #00FFA3;
  --dblue: #223041;
  --white: #fff;
  --textblue: #3D5470;
  --swiper-navigation-size: 14px !important;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 425px) {
  .swiper-custom .swiper {
    padding: 70px;

    img {
      height: 210px
    }
  }
}

body {
  background: var(--blue);
  color: var(--white);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-custom .swiper {
  padding: 10px 70px 0px 70px;

  img {
    height: 210px
  }
}

.swiper-custom .swiper-slide {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 10%;
  }
}

.swiper-custom .swiper-button-next,
.swiper-custom .swiper-button-prev {
  color: #00FFA3;
  font-size: 1rem;
}

.swiper-custom .swiper-slide:hover {
  opacity: 100%;
}